  <nav class="nav">
  <span class="logo" >
    <p>Whoop!</p>
    <p>To-Do</p>
  </span>
  <% if (!userID) { %>
    <div>
      <span class="toggle_register">Login or Register</span>
    </div>
  <% } else { %>
  <div class = "icons">
    <button id="food" type="submit">Restaurants</button>
    <button id="books" type="submit">Books</button>
    <button id="movies" type="submit">Movies</button>
    <button id="products" type="submit">Products</button>
  </div>
  <div class="toggle">
    <span>Create List</span>
    <span>Update Profile</span>
    <form autocomplete="off" action="/api/credentials" method="POST">
      <button class="button" type="submit">Logout</button>
    </form>
  </div>
<% } %>
</nav>
