  <nav class="nav">
  <span class="logo" id="logo">
    <span>Whoop!</span>
    <span>To-Do</span>
  </span>
  <% if (!userID) { %>
    <div>
      <span class="toggle_register">Login or Register</span>

    </div>
  <% } else { %>
  <div class = "icons">
      <button id="food" type="submit"><i class="large material-icons">restaurant</i></button>
      <button id="books" type="submit"><i class="large material-icons">import_contacts</i></button>
      <button id="movies" type="submit"><i class="large material-icons">camera_roll</i></button>
      <button id="products" type="submit"><i class="large material-icons">monetization_on</i></button>
      <button id="new" type="submit"><i class="large material-icons">add</i></button>
  </div>
  <div class="toggle">
    <span>Update Profile</span>
    <form autocomplete="off" action="/api/credentials/logout" method="POST">
      <button class="button" type="submit">Logout</button>
    </form>
  </div>
<% } %>
</nav>
