<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/credentials.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/cred.js"></script>

  </head>

  <body>
    <nav class="nav">
      <span class="logo" >
        <p>Whoop!</p>
        <p>To-Do</p>
      </span>
     
      <div class="toggle_register">
        <button>Login/register</button>
      </div>
    </nav>

    <div class="container">
      <div class="message signup">
          <div class="btn-wrapper">
            <button class="button" id="signup">Register</button>
            <button class="button" id="login"> Login</button>
          </div>
        </div>
        <div class="form form--signup">
          <div class="form--heading">Welcome! Register Here</div>
          <form autocomplete="off" action="/api/register" method="POST">
            <input name="username" type="text" placeholder="Name">
            <input name="email" type="email" placeholder="Email">
            <input name="password" type="password" placeholder="Password" id="input">
            <button class="button" type="submit">Register</button>
          </form>
        </div>
        <div class="form form--login">
          <div class="form--heading">We knew you'd be back...</div>
          <form autocomplete="off" action="/api/credentials" method="POST">
            <input type="email" name ="email" placeholder="Email"></input>
            <input type="password" name ="password" placeholder="Password"></input>
            <button class="button" type="submit">Login</button>
          </form>
        </div>
      </div>

    <h1>
      WELCOME TO OUR APP CALLED WHAT TO DO, here's a sample of some of our other users lists
    </h1>
  </body>
  </html>

