<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script type="text/javascript" src="/scripts/nav.js"></script>
  </head>

  <body>
    <%- include('partials/_nav') %>

    <section id="homepage-header">
      <h1>
        <%= lists[0].username %>'s  lists
      </h1>
    </section>

    <section id="add-item-form">
      <form action="/" method="POST" id="sort-items">
        <input type="text" name="search" placeholder="EGG"/>
        <button type="submit">Submit</button>
      </form>
    </section>

    <section id="display-resluts">
      <h5 class="title">We found more than one item</h5>
      <ul id="append-results">
      </ul>
    </section>

    <section class="display-lists" id="display-lists">
    </section>

  </body>
</html>



