<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_nav') %>
    <div class = "lists">
    <div class="list1">
      <h1>Restaurants</h1>
      <ol>
        <li>Arthur's</li>
        <li>Damas</li>
        <li>Milos</li>
        <li>Park</li>
        <li>Moishes</li>
      </ol>
    </div>
    <div class="list2">
      <h1>Books</h1>
      <ol>
        <li>1984</li>
        <li>The Ultimate Hitchhiker's Guide to the Galaxy</li>
        <li>Farenheit 451</li>
        <li>The Hobbit</li>
        <li>Moliere: l'oeuvre complete</li>
      </ol>
    </div>
    <div class="list3">
      <h1>Movies</h1>
      <ol>
        <li>Old Boy</li>
        <li>Kill Bill</li>
        <li>Toy Story</li>
        <li>Ex Machina</li>
        <li>God Bless America</li>
      </ol>
    </div>
    <div class="list4">
      <h1>Products</h1>
      <ol>
        <li>Bidet</li>
        <li>Beanbag chair</li>
        <li>Beans</li>
        <li>A tiny house</li>
        <li>Oculous Rift</li>
      </ol>
    </div>
    </div>
  </body>
</html>



