// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

// use only the available space inside the 400x400 frame

// full list
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// add an item button
.item_toggle{
  display:none
}

// inside .center
.todo-cmp {
	background: #E2D7E2;
	color: #497081;
	padding: 10px 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 14px rgba(0,0,0,0.15);
  width: 80%;
  margin-top: 150px;


	&__header {
		text-align: center;
		padding: 10px ;
		border-bottom: 1px solid #ddd;

    // list title
		h2 {
			font-weight: 600;
			font-size: 2em;
			margin: 4px auto;
      padding: 0;
      text-transform: capitalize;
    }
    // todays date
		p {
			padding: 0 0 5px;
			margin: 4px auto;
			font-size: 1.4em;
		}
	}
// buttons


footer {
  display: flex;
  flex-direction: row;
  font-size: .7em;

}
	&__list {
		list-style: none;
    padding: 0;


		li {
			padding: 10px 0 15px;
			margin: 0;
			text-align: left;
      width: 100%;
      font-size: 1em;


			label {
				cursor: pointer;
				font-size: 0.82rem;
				width: 100%;
				display: block;


				input {
					float: right;
					opacity: 0;
				}
        // items
				span {
					position: relative;
					display:block;
          transition: all 550ms ease-in-out;

				}
        .list_name {
          font-size: 2em;
          text-decoration: underline;
        }
        .list_description {
          font-size: 1.5em;

        }

				input + .container::after {
						content: "";
						display: flex;
						border: 1px solid #497081;
						border-radius: 13px;
						height: 13px;
						width: 13px;
						right: 0;
						top: 1px;
						z-index: 10;
					 transition: all 550ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
					 transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
					/* https://matthewlein.com/tools/ceaser */
				}

				input + .container::before {
						content: "✔";
						display: flex;
						font-size: 22px;
						height: 13px;
						width: 13px;
						right: -2px;
						top: -8px;
						z-index: 10;
            opacity: 0;
				}

				input:checked + .container {
					color: #ccc;
          transition: all 550ms ease-in-out;
				}

				input:checked + .container::after {
						opacity: 0;
					 	height: 17px;
					 	width: 17px;
					  top: -2px;
            right: -2px;
				}

				input:checked + .container::before {
						opacity: 1;
           transition: all 550ms ease-in-out;
				}
			}
		}
	}
}
