// nav bar
.nav {
  font-family: 'Roboto', sans-serif;
  display: flex;
  background-color: #694c67;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Righteous', cursive;
  font-size: 2em;
}

p {
  margin: 0px;
}

.icons {
  display: flex;
}

i:hover {
  color: #694c67;
  padding: 5px;
}

i {
  color: white;
  padding: 5px;
}

#food:hover {
  background-color: white;
  border: solid 1px #694c67;
}

#food {
  background-color: #694c67;
  border-radius: 100%;
  border: solid 1px white;
  width: 50px;
  height: 50px;
}

#books:hover {
  background-color: white;
  border: solid 1px #694c67;
}

#books {
  background-color: #694c67;
  border-radius: 100%;
  border: solid 1px white;
  width: 50px;
  height: 50px;
}

#movies:hover {
  background-color: white;
  border: solid 1px #694c67;
}

#movies {
  background-color: #694c67;
  border-radius: 100%;
  border: solid 1px white;
  width: 50px;
  height: 50px;
}

#products:hover {
  background-color: white;
  border: solid 1px #694c67;
}

#products {
  background-color: #694c67;
  border-radius: 100%;
  border: solid 1px white;
  width: 50px;
  height: 50px;
}

#new:hover {
  background-color: white;
  border: solid 1px #694c67;
}

#new {
  background-color: #694c67;
  border-radius: 100%;
  border: solid 1px white;
  width: 50px;
  height: 50px;
}

.toggle {
  display: flex;
  flex-direction: column;
}
